# Project ignore files
/*.idea/
/.settings
/.classpath
/.project
/.tomcatplugin
/target
/work
/.tomcatplugin
/src/main/webapp/.#webclasspath

.idea
mydoc.iml
apache-tomcat-8.5.46.tar.gz
jdk1.8.0.tar.gz