<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.mydoc.web.doc.dao.GlobalClassifyMapper">

    <resultMap id="BaseResultMap" type="com.eliteams.mydoc.web.doc.model.GlobalClassify">
        <id column="global_classify_id" property="globalClassifyId" jdbcType="BIGINT" />
        <result column="global_classify_name" property="globalClassifyName" jdbcType="VARCHAR" />
        <result column="global_classify_status" property="globalClassifyStatus" jdbcType="BIGINT" />
        <result column="global_classify_create_time" property="globalClassifyCreateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="addGlobalClassify" useGeneratedKeys="true" keyProperty="globalClassify.globalClassifyId">
        INSERT INTO global_classify
        (
        global_classify_name,
        global_classify_status,
        global_classify_create_time
        )
        VALUES
        (
        #{globalClassify.globalClassifyName},
        #{globalClassify.globalClassifyStatus},
        #{globalClassify.globalClassifyCreateTime}
        )
    </insert>
    
    <select id="queryGlobalClassifyById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM global_classify WHERE global_classify_id = #{globalClassifyId}
    </select>

    <select id="queryGlobalClassify" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM global_classify
    </select>
</mapper>